<h1>ManagementScreen#show</h1>
<p>Find me in app/views/management_screen/show.html.erb</p>
<input type='button' value='ハートを追加' id='add' data-behavior="heart_add" />
<%= javascript_include_tag 'channels/support.js' %>
<%= javascript_include_tag 'management_screen.js' %>
