<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <%= javascript_include_tag 'screen.js' %>
    <%= javascript_include_tag 'channels/support.js' %>
    <div id="canvas">
</body>

</html>